@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center font-weight-bolder breadcrumb">

    <h1 class="display-4">Welcome to Walmart Inventory</h1>
    <p> Here you are able to count different product from various departments </p>
</div>

